body {
    font-family: 'Raleway', sans-serif;
}

#container {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin: 5px auto;
    background-color:lightcyan;
    padding: 15px;
}

#menuListDiv {
   display: flex;
   flex-direction:column;
   margin: 5px auto;
}

.menuItem {
    display:flex;

}
.info {
    flex-direction: column;
}

img {
    margin: 5px;
}

h4 {
    color: gray
}